body {
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* background-image: url(/images/slime.gif);  */
  background-size: cover; 
  height: 100%;
}

a {
  /* color: ; */
  text-decoration: none;
}
a:hover {
  /* color: darkblue */
  text-decoration: underline;
}
